# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\e.testagrossa\PhpstormProjects\CORSO_RESTFUL\Sezione 2\Basic Project Backup\basic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
